@import './nprogress.scss';
@import './style.scss';
@import '../../pages/404.scss';
@import './animate.scss';
@import '../../components/burgerMenu/BurgerMenu.scss';
@import '../../components/button/Button.scss';
@import '../../components/container/Container.scss';
@import '../../components/navbar/Navbar.scss';
@import '../../components/footer/Footer.scss';
@import '../../components/footer/CopyRight.scss';
@import '../../components/headline/Headline.scss';
@import '../../components/shop/ShopIntro.scss';
@import '../../components/contact/ContactIntro.scss';
@import '../../components/products/ItemCard.scss';
@import '../../components/products/ProductsBackground.scss';
@import '../../components/products/ProductIntro.scss';
@import '../../components/blog/BlogBackground.scss';
@import '../../components/blog/BlogContent.scss';
@import '../../components/readMore/readMoreBtn/ReadmoreBtn.scss';
@import '../../components/readMore/ReadMoreContent.scss';
@import '../../components/card/Card.scss';
@import '../../components/productDetail/ProductDetailContent.scss';
@import '../../components/aboutus/AboutusBackground.scss';
@import '../../components/brandDetail/BrandDetail.scss';
@import '../../components/aboutus/AboutusIntro.scss';

body {
  // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Pyidaungsu";
  font-family: Poppins, 'Poppins', sans-serif;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  // font-family: "Dosis", sans-serif;
  // font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  //   'Helvetica Neue', Arial, sans-serif;
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }
